main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
}


table.crossword {
    table-layout: fixed;
    max-width: 80%;
    min-width: 40px;
}

td.square {
    border: 2px solid #000;
    box-sizing: border-box;
    text-align:center;
}

td.square input {
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
}

td.space {
    width: 40px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    text-align:center;
}

.clues {
    display: flex;
    flex-direction: row;
    padding: 40px;
    
}