main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sidebar {
    width: 300px;
    height: calc(100vh - 110px);
    left: 0;
    background-color: hsl(0, 0%, 89%);
}

.sidebar h3, table {
    justify-content: center;
}

.puzzleAndClues {
    display: flex;
    flex-direction: column;
    flex: 1;

}

table.crossword {
    table-layout: fixed;
}

td.square, td.space {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

td.square {
    border: 2px solid #000;
}

td.space {
    border: 1px solid hsl(0, 0%, 89%);
    background-color: hsl(0, 0%, 89%);
}

td.square input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.clues {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 20px;
    padding: 0;
    display: flex;
    text-align: center;
    list-style-position: inside;
    justify-content: center;
}

@media (orientation: portrait) {
    .sidebar {
        display: none;
    }
}


